{% extends "base.html" %}
{% block title %} Contato {% endblock %}
{% block bodytype %}{% endblock %}
{% block content %}
<div class="text">
    <h1>Entre em contato</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr>
    <form>
        <label for="email">Seu e-mail:</label>
        <input type="email">
        <label for="assunto">Assunto:</label>
        <input type="text">
        <label for="descricao">Descrição:</label>
        <textarea name="" id="" cols="30" rows="5"></textarea>
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}