{% extends "base.html" %}
{% block title %} Quem somos {% endblock %}
{% block bodytype %}{% endblock %}
{% block content %}
<div class="text">
    <h1>Quem somos</h1>
    <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Expedita earum, molestias minima
        voluptates labore fuga qui molestiae excepturi ex, cumque, nihil reiciendis corporis voluptatibus vel eius
        possimus iure rem nam.</p>
    <h2>5 motivos para estudar</h2>
    <ol type="1">
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr>
    <h2>Objetivos</h2>
    <p>Lorem <strong>ipsum dolor</strong>, sit amet consectetur adipisicing elit. Voluptate commodi animi sapiente
        distinctio ratione quae, reiciendis voluptatibus sunt ipsam mollitia libero obcaecati? Ratione, sunt fugiat
        numquam iusto recusandae dolorum ipsam.</p>
</div>
{% endblock %}