{% extends "base.html" %}
{% block title %} Página inicial {% endblock %}
{% block bodytype %} home {% endblock %}
{% block content %}
<img src="../static/img/capa.png" alt="capa" class="banner">
<div class="text">
  <H1>Sobre a Universidade</H1>
  <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Fugiat reprehenderit non
    exercitationem nam, vero mollitia modi ullam id necessitatibus velit saepe fugit culpa voluptatum labore
    facilis nihil eveniet fuga iusto?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, commodi in amet quo
    reiciendis ipsum nobis sed cumque inventore repellat distinctio itaque quibusdam id nulla obcaecati aperiam?
    Placeat, ratione qui?</p>
  <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Repellendus aut minima numquam
    aspernatur natus, cum harum, aliquam necessitatibus voluptatibus quos provident! Mollitia sed, omnis
    quibusdam impedit maiores sint odio suscipit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium
    quis recusandae atque quibusdam sed, explicabo eius laudantium odio assumenda iste nam non ratione quia suscipit
    ipsam. Labore molestiae praesentium commodi.</p>
</div>
{% endblock %}