{% extends "base.html" %}
{% block title %}Contato{% endblock %}
{% block content %}
<section class="page-section" id="contact">
    <div class="container mt-3 px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h1 class="mt-0">Entre em contato!</h1>
                <hr class="divider" />
                <p class="text h5 mb-5">Ficou interessado(a)? Surgiu alguma dúvida? Alguma sugestão? Fique avontade para entrar em contato conosco!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Digite seu nome..."
                            data-sb-validations="required" />
                        <label for="name">Nome e sobrenome</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Nome necessário.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="nome@exemplo.com"
                            data-sb-validations="required,email" />
                        <label for="email">Email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Email necessário.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Esse email não é válido.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(DD) XXXX-XXXX"
                            data-sb-validations="required" />
                        <label for="phone">Número do celular</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Número de celular necessário.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Digite sua mensagem aqui..."
                            style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Mensagem</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Mensagem necessária.
                        </div>
                    </div>
                    <button class="btn btn-warning" id="submitButton"type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}