{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}
{% block content %}
<header class="masthead">
    <div class="container px-lg-10 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="display-4 text-white font-weight-bold">"Arremessamos sonhos, conquistamos realidades!"</h1>
                <hr class="divider">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="h4 text-white font-weight-bold">Venha aprender o basquete no método NBA de jogar, desenvolver
                    disciplina
                    e valores num ambiente divertido e amigável.</p>
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="h4 my-5">É com grande entusiasmo e paixão pelo basquete que apresentamosaElite Hoopers. Somos mais do
                    que uma instituição dedicada ao esporte; somos uma comunidade apaixonada
                    por desenvolver habilidades, cultivar valores e construir campeões, tanto dentro quanto fora da
                    quadra.</p>
                <a class="btn btn-light btn-xl" href="/servicos">Serviços</a>
            </div>
        </div>
    </div>
</section>
<section id="intro">
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Objetivo</h3>
                    <p class="text mb-0">Compartilhar o jogo de basquete com jovens atletas, ensinando
                        habilidades, valores e bem-estar em um ambiente positivo e divertido.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Método</h3>
                    <p class="text mb-0">Compartilhar com alunos-atletas os fundamentos básicos do jogo de
                        basquete usando uma relação de itens para avaliar a evolução no aprendizado permitindo, então, o
                        avanço para os próximos níveis pedagógicos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Meta</h3>
                    <p class="text mb-0">Fortalecer a cultura do basquete juvenil, ensinar lições de vida e
                        capacitar jovens atletas para o sucesso dentro e fora da quadra.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}